h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  strong,
  b {
    font-weight: 500;
  }
}

h1,
.h1 {
  font-weight: 300;
}

h4,
h5,
h6 {
  font-weight: 500;
}

@media (max-width: 544px) {
  .display-4,
  h1 {
    font-size: 30px;
  }
}